body{
  background-color: rgb(223, 218, 218);
}

.main {
 width: 70%;
 margin-left: 15%;
 background-color: rgb(249, 242, 217);
}
.mainTitle{
 padding-top: 2rem;
 text-align: center;

}

#infoDiv, #educationDiv, #experienceDiv{
 padding: 2rem;
 padding-bottom: 0;
}

#infoForm {
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 10px;
}

#aboutInput {
 grid-column: 1 / span 2;
 height: 5rem;
 text-align: start;
 resize: vertical;
}

#descriptionInput {
 grid-column: 2 / span 3;
 height: 200px;
 resize: vertical;
 white-space: pre-wrap;
}

.label {
 font-weight: bold;
}

#educationForm, #experienceForm {
 display: grid;
 grid-template-columns: 1fr 2fr 1fr 2fr;
 gap: 10px;
}

.submitBtn {
 grid-column: 1 / span 4;
 width: 25%;
 height: 2rem;
 justify-self: center;
}

.head {
 display: grid;
 grid-row: 1fr 1fr;
 text-align: center;
}
.contactInfo{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
}




#aboutDiv {
 text-align: center;
}

#schoolInput {
 grid-column: 2 / span 3;
}

.resumeContainer {
 display: grid;
 padding-top: 3rem;
}

#resume {
 margin-top: 25px;
 min-width: 800px;
 min-height: 1100px;
 background-color: white;
 justify-self: center;
 margin-bottom: 50Px;
 padding-bottom: 2rem;
}

.resumeTitle {
 justify-self: center;
 font-weight: bold;
}

.previewBtnsDiv {
 justify-self: center;
}

.previewBtns {
 width: 8rem;
 height: 2rem;
 margin: 1rem;
}

.resumeMain {
 padding-left: 2rem;
 padding-right: 2rem;
}

#about {
 white-space: pre-line;
}

.description {
 white-space: pre-line;
 grid-column: 1 / span 4;
}

.sectionDivider {
 border-top: solid;
}

.experienceDiv, .educationDiv{
border-left: solid;
padding-left: 2rem;
}

.experienceInfo{
 display: block;
 
}
.descriptionEdit{
 height: 200px;
 resize: vertical;
 white-space: pre-wrap;
 width: 500px;
}

.company {
 grid-column: 1/ span 4;
}

.dates {
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.resumeBtns {
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 2rem;
 grid-column: 1/ span 4;
}

.degree {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
}

.school {
 grid-column: 1/ span 4;
 padding-bottom: 0px;
 
}

.major, .minor {
 grid-column: 1/ span 4;
 padding-top: 0px;
}
